@inject ICategoryService CategoryService
@inject IProductService ProductService
@inherits LayoutComponentBase

<RadzenLayout Style="height: 300px; height: 100vh; width:100vw; grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar2Expanded = !sidebar2Expanded)" />
            <RadzenLabel Text="Header" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar2Expanded">
        <RadzenPanelMenu>

            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"  />

            @foreach(var cat in CategoryService.Categorias)
            {

                <RadzenPanelMenuItem Text=@cat.Nombre Icon="home" Path=@($"/{cat.CategoryID}")  />
            }
        </RadzenPanelMenu>
        <div class="rz-p-4">
            
        </div>
    </RadzenSidebar>
    <RadzenBody >
        <div class="rz-p-4" >
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar2Expanded = true;

    protected override async Task  OnInitializedAsync()
    {
        await CategoryService.GetCategorys();
    }



}